 /*---GALERIA CURSOS  */
.galeria ul {
    list-style-type: none;
}
.galeria {
    padding: 15px 0px;
    background-color: rgb(151, 112, 54);

}
.galeria h2 {
    text-align: center;
    padding: 10px;
}
.grilla-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    size: adjust 1em;;
}
.grilla-galeria img {
    width: 95%;
}
@media (min-width:768px) {
    .grilla-galeria {
        display: grid;
        justify-content: center;
        grid-template-columns: 500px;
    }
}

    .color-negro {color:black}
